 /*--Reseteo de Css--*/

 * {
     margin:0;
     padding: 0;
     box-sizing: border-box;
 }

 ul,
 ol {
     list-style: none;
 }

 nav ul li {
    display: inline-block
}

/*--Etiquetas a--*/

 a {
     text-decoration: none;
     font-family: "late";
     font-weight: 700;
     color: black;

 }

 a:active{
    color:blue
 }

 

 /*--Fuentes utilizadas en el proyecto--

font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif; */


 
 /*--Mobile Fisrt--Index "HOME PAGE" */

 @media (min-width: 375px) {



  /*--Títulos / Párrafos / Subtítulos-- */  

 .titulo-newsletter {

    font-size: 1rem;
    text-align: center;
    font-family: "Lato", sans serif;
    font-weight: 900;
    color:black   

}

 .titulo-principal--h1 {

     font-family: "Merriweather", sans-serif;
     font-weight: 900;
     font-size: 2.5rem;
     text-align: center;
     padding-top: 1.5rem;
     color:white;

 }

.subtitulo-titulo-principal {

    font-size: 1.2rem;
    text-align: center;
    font-family: "Lato", sans serif;
    font-weight: 700;
    color:white

}

 .titulo-secundario--secciones-home-page {

     font-family: "Merriweather", sans-serif;
     font-weight: 700;
     font-size: 1.5rem;
     text-align: center;
     color: black;
 }

 .titulo-secundario--secciones-pages {

     font-family: "Merriweather", sans-serif;
     font-weight: 700;
     font-size: 3.5rem;
     text-align: center;
     color: black;
 }

 .titulo-aside{
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
       
 }

 .subtitulo-aside{
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    text-decoration-line: underline;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
 }

.etiqueta-nombres--lugares-comidas {
   
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.parrafo {
 
    font-family: "Lato", sans serif;
    font-weight: 400;
    font-size: 1rem;
}

  

/*--Botón Subscripción del Footer -- Botón Subscripción Hover*/ 

.btn {

text-decoration: none;
display: block;
width: fit-content;
border: 1px solid black;
padding: 0.5rem 0-5rem;
border-radius: 5px;
background-color: rgb(199, 198, 198);
font-size: 1rem;
font-weight: 700;

}

.btn:hover{

    background-color: grey;

}


/*--Seudoclase Formulario--*/ 

input:focus {
border: 2px solid black
}


/*--Portada--*/


/*--Imagen de fondo en Portada--*/


.portada {
    background-image: url("../img/portada2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: contain; 
    width: 100vw;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;

}

.portada-suscribite {
    display: flex;
    align-self: flex-end;
    margin-right: 1rem;
}

.titulo-newsletter {
    padding-top: 0.5rem;
}


/*--Barra de Navegación--*/

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.5rem;
    gap:1rem;
}

   /*--Sección "Historia"--*/



.titulo-secundario--secciones-home-page {
 
 padding-bottom: 0.6rem;
 padding-top: 2rem;
}
  
.parrafo-historia {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    text-align:justify center;
    
}

/*--Mapa de Sección "Historia"--*/



.contenedor-mapa {
    height: 150px;
    width: 100%;
    padding-bottom: 1.5rem;
 
}
.contenedor-mapa iframe {
    width: 100%;
    height: 100%;
}


/*--Aside "Egipto Festivo"--*/

.aside-festividades{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}

.caja-aside--festividades {
    width: 300px;
    height: 400px;
    overflow: auto;
    padding: 1.5rem;
    margin-right: 1rem;
    border: solid 1px;
    background-color: rgb(160, 207, 219);
    position: relative;
}


.titulo-aside--h3-festivo {

padding-left: 1.5rem;
padding-right: 1.5rem;
}

/*--Aside "Egipto Fascinante"--*/


.aside-curiosidades {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 2rem;
    justify-content: space-around; 
}

.caja-aside--curiosidades {
    width: 300px;
    height: 400px;
    overflow: auto;
    padding: 1.5rem;
    margin-left: 1rem;
    border: solid 1px;
    background-color: rgb(160, 207, 219);
    position: relative;
}

.titulo-aside--h3-curiosidades {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/*--Sección "Lugares para Descubrir--*/

.parrafo-intro-seccion--visitas {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    text-align:justify center;
    
}

/*-- Sección "Actividades--*/

.imagen-experiencias--nilo {
    width: 200px;
    height: 150px;
    margin-left: 15px;
    padding-top: 0.5rem;
 
}

.nombre-actividad--nilo{
    font-size: 1rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
}

.imagen-experiencias--camello {
    width: 230px;
    height: 150px;
    position:relative;
    left: 150px;
    bottom: 20px;
}

.nombre-actividad--camello {
   font-size: 1rem;
   padding-left: 15rem;
   position: relative;
   bottom: 10px;
   
}

.imagen-experiencias--danza {
    width: 200px;
    height: 150px;
    margin-left: 15px;
    position: relative;
    bottom: 60px;
}

.nombre-actividad--danza{
    font-size: 1rem;
    margin-left: 50px;
    position: relative;
    bottom: 50px;
}

/*-- Sección "Gastronomía"--*/

.titulo-secundario--secciones-home-page-gastronomia {
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    padding-bottom: 0.6rem;
   }

.imagen-sec-gastronomia {
    background-image: url(../img/comida.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    width: 100vw; 
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;

}

.ul-nombres-comidas {
    text-align: start;
    justify-content: center;
    padding-left: 3rem;
    color: white;
    
}

/*-- Sección "Compras"--*/

.imagen-sec-compras {
    background-image: url(../img/bazar.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    
    width: 100vw; 
    margin-top: 1.5rem;
    

}

.titulo-secundario--secciones-home-page-compras {

    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding-top: 1.5rem;

}

.parrafo-compras {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    text-align:justify center;
    padding-left: 1rem;
    padding-right: 1rem;
    color:white;
    font-weight: 700;
      
}

.link-compras {
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    
}

/*--Footer--*/


.footer {
    background-color: grey;
    color: white;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

/*--Footer-Links--*/


.footer-sec{
    text-align: center;
    padding-top: 1rem;
}

.footer-links {
    font-weight: 400;
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

/*--Footer-Contacto--*/

.footer-contacto {
    text-align: center;
    padding-top: 1rem;
}

.footer-lista--contacto {
    text-align: center;
    padding: 0.5rem;
  
}

/*--Footer-Formulario--*/

.form-parrafo {
    text-align: center;
    font-weight: 700;
    padding: 1rem;
}

.form-label {
    display: flex;
    justify-content: center;
    gap:1.5rem
}

.form-checkbox {
    display: flex;
    justify-content: center;
    gap:1rem;
    padding-top: 0.5rem;
   
}

 }


/*--Tablet -- Index "HOME PAGE" */



@media  (min-width: 768px) {

.portada {
    object-fit: contain;
    width: 100vw;
    height: 65vh;
    

}

.portada-suscribite {
    display: flex;
    align-self: flex-end;
    margin-right: 3rem;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.titulo-newsletter {
    font-size: 1.5rem;
    justify-content: center;
    padding-top: 2rem;
}

.titulo-principal--h1 {
    font-size: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.subtitulo-titulo-principal {
    font-size: 1.5rem;
}



  

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
}

a {
    font-size: 1.3rem;
}

/*--Sección - "Historia" */

.titulo-secundario--secciones-home-page {
 
    padding-top: 5rem;
   }

.grilla-historia {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: o.5rem;
}

.contenedor-mapa {
    height: 80%;
     
}

.contenedor-mapa-iframe {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 2.5rem;
    
   
}

/*--Sección - "Aside" */


.caja-aside--festividades {
    width: 350px;
    height: 500px;

}

.caja-aside--curiosidades {
    width: 350px;
    height: 500px;
}

.subtitulo-aside {
    font-size: 1.3rem;
}


/*--Sección - "Visitar" */

.carrusel {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
}

/*--Sección - "Actividades" */

.grilla-actividades {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top: 1rem;
    justify-content: space-around;
   
    
    
}

.grilla-actividades--parrafo {
    display: grid;
    grid-template-rows: 1/3;
    justify-items: end;
    align-items: center;
 

    
}

.grilla-actividades--imagenes {
    display: grid;
    grid-column: 2 / 3 ;
    justify-content: center;
    
 
    
}

/*--Sección - "Gastronomía" */


.grilla-gastronomia {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 1rem;

}

.imagen-sec-gastronomia {
display: grid;
width: 60vw;
height: 250px; 
   

}

.ul-nombres-comidas {
    text-align: start;
    justify-content: start;
    color: white;
    
}

/*--Sección - "Compras" */

.parrafo-compras {
    display: grid;
    text-align: center;
    padding-top: 1rem;
}


}

/*--Desktop -- Index "HOME PAGE" */





@media  (min-width: 1200px) {

/*--Portada--" */


    .portada {
        
        width: 100vw;
        height: 60vw;
        padding-bottom: 0.5rem;
       
    }
    
    .portada-suscribite {
    
    font-size: 2rem;
      
}

.titulo-newsletter {
    font-size: 2rem;
    padding-top: 5rem;
    
}

.titulo-principal--h1 {
    font-size: 8rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.subtitulo-titulo-principal {
    font-size: 2rem;
}

.nav {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;   
   
}

a {
    font-size: 1.5rem;
 
}

/*--Sección - "Historia" */

.titulo-secundario--secciones-home-page {
 
    font-size: 2rem;
   }


.grilla-desktop-historia {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
    gap:1rem;
}

.contenedor-mapa {
    height: 100%;
   padding-bottom: 3rem;
     
   
}


/*--Aside--" */

.titulo-aside--h3-festivo {

   display: none;
    }

.aside-festividades{
    display: flex;
    flex-direction: row;
   
    justify-content: end;   
}

.caja-aside--festividades {
    width: 300px;
    height: 750px;
  
}

.titulo-aside--h3-curiosidades {
    display: none;
 }
 

.aside-curiosidades {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 1rem;
}

.caja-aside--curiosidades {
    width: 300px;
    height: 1100px;
 
}

/*--Area - Section y Aside--" */

.contenedor-visitas {
    width: 70vw;
    height: 100%;
}



.contenedor-actividades {
    width: 70vw;
    height: 100%;
}

/*--Gastronomia--" */

.grilla-gastronomia {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    padding-top: 1rem;
    padding-left: 2.5rem;


}

.imagen-sec-gastronomia {
display: grid;
width: 40vw;
height: 250px; 
   

}

.ul-nombres-comidas {
    text-align: start;
    justify-content: start;
    color: white;
    
}

/*--Footer--" */

.enlaces-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;


    
}

}

 
 /*--Mobile Fisrt-- "VISITAR" */

 @media (min-width: 375px) {

.parrafo-intro-lugares {

  font-family: lato sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  text-align:justify center;
  padding-bottom: 2.5rem;
  padding-top: 1rem;
}

/*--Tajetas - Imagenes Lugares para Visitar" */


/*--Tajeta - Pirámides de Giza */


.tarjeta-lugares {
    width: 350px;
    display: flex;
    flex-direction: column;  
    margin-left: 2rem;
    margin-right: 2rem;  
    padding: 1rem;
    }
    
.tarjeta-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imagen {

    width: 330px;
    height: 200px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

}


 /*-- .parrafo-tarjeta-lugares {

/*-- .titulo-tarjeta-lugares
 {

}  

--*/

 }


 /*--Tablet -- Sección "VISITAR" */



@media  (min-width: 768px) {

    .parrafo-intro-lugares {  
       
        margin-left: 2rem;
        margin-right: 2rem;
       text-align: center;
       
      }

.contenedor {
    display: flex;
    flex-direction: row;
    gap:1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
    
.tarjeta-lugares {
    width: 300px;
     
    }

    /*


.contenedor {
   display: flex;
    flex-direction: row;
    gap:1rem;
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-bottom: 1rem;
}

.contenedor {
    display: flex;
    flex-direction: row;
    gap:1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.contenedor{
    display: flex;
    flex-direction: row;
    gap:1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}


footer

*/



}

/*--Desktop -- Index "HOME PAGE" */





@media  (min-width: 1200px) {

    .parrafo-intro-lugares {  
       
        margin-left: 5rem;
        margin-right: 5rem;
        text-align: center;
       
      }

      .contenedor-piramides-simboel-edfu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
         padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
      }


      /*
     .contenedor-alejandria-luxor {

        display: flex;
        flex-direction: row;
        justify-content: center;


     }
*/
     .contenedor-cairo-filoe-sherik {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
         padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;

     }
         
        }

