.img {
    width: 120px;
    height: 120px;
    object-fit: cover;

}

.contenedor-img {
    padding-left: 0.2rem;
    padding-top: 1rem;
}

.lista-compras  {
    display: none;
   
}

@media (min-width: 768px) {

    .contenedor-img {
        padding-left: 0.8rem;
        padding-top: 2rem;
    }

    .lista-compras  {
        display: inline-flex;
        gap: 5.2rem;
        padding-top: 0.5rem;
     
    }

}

@media (min-width: 1200px) {

    .img {
        width: 150px;
        height: 150px;
        object-fit: cover;

        &:hover {
            transform: scale(1.5);
        }

    }

    .lista-compras  {
        display: inline-flex;
        gap:6.5rem;
        padding-left: 13rem;
        padding-top: 0.5rem;
     
    }

    .contenedor-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 3rem;
    }

    .bazar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}