
.img {
    
    width: 100%;
    object-fit: cover;
    padding-left: 1rem;
    padding-right: 1rem;

    &-artesanias {
      
        height: 250px;  
      
    }

    &-especias {
   
        height: 200px;
        translate: $c-traslate;     
    }

    &-textiles {
        height: 200px;
        translate: $c-traslate;
    
    }

    &:hover {
        transform: scaleX(0.5);
       }
   
}

@media (min-width: 768px) {

.img {

    padding-left: 3rem;
    padding-right: 3rem;

   
}

}

@media (min-width: 1200px) {

    .img {
        width: 500px;
        height: 150px;
       
    }




.contenedor-compras-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 3.5rem;
    padding-top: 2rem;
  
   
}



}


