.btn {

    text-decoration: none;
    display: block;
    width: fit-content;
    border: 1px solid $c-n;
    padding: 0.5rem 0-5rem;
    border-radius: 5px;
    background-color: rgb(199, 198, 198);
    font-size: 1rem;
    font-weight: 700;


    &:hover {
        background-color: $b-c;
    }

}