.carrusel-img {
    height: 250px;
    object-fit: cover;
}

.text-black {
    color: black;
    font-weight: $fw-bold;

}

@media (min-width: 768px) {


    .carrusel {

        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;



        &-img {
            height: 300px;
            width: 100%;
            object-fit: cover;
        }

    }

    .carrusel-compras {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

}